<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <div th:if="${param.error}">
      Invalid username or password.
  </div>
  <form action="/login" method="post" th:action="@{/login}">
      <p>username: <input type="text" name="my-username"/></p>
      <p>password: <input type="password" name="my-password"/></p>
      <p>Remember: <input type="checkbox" name="remember-me"></p>
      <p><input type="submit" value="로그인"></p>
  </form>
  <a href="/signup" th:href="@{/signup}">Signup</a>
</body>
</html>